<head>
    <title>{{ site.data.settings.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <!-- TODO: Add favicon -->
    <link rel="icon" type="image/x-icon" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    {% include analytics.html %}
<!--    {% seo %}-->
</head>
