<!DOCTYPE html>
<html lang="{{ site.settings.meta.lang }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/{{ site.data.settings.url }}">{{ site.data.settings.title }}</a>
        </h1>

        {% include contact.html %}

        <p>{{ site.data.settings.description }}</p>

        [Contact](./contact.md)

        [News](./news.md)

        {% include downloads.html %}
      </header>
      <section>

      {{ content }}

      </section>

      {% include footer.html %}

    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
