<!DOCTYPE html>
<html lang="{{ site.settings.meta.lang }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ site.baseurl }}/">{{ site.data.settings.title }}</a>
        </h1>

        {% include contact.html %}

        {% include navigation.html %}

        {% include downloads.html %}

      </header>
      <section>

      {{ content }}

      </section>

      {% include footer.html %}

    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
